/* Reset just the minimum, improve with time */
body {
    margin: 0;
}

/*Titles*/
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

/*Forms*/
fieldset {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    border: none;
}

/*Lists*/
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
/* end reset */

/*
    STYLE SHEET
*/

@page {
    size: A4 portrait;
}

@media print {
    html, body {
        font: 10px arial;
        margin: 10mm;
    }

    header {
        padding-top: 1em;
    }

    ul {
        padding: 0 .5em;
    }

    a {
        border: none;
    }
}

@media screen {
    body {
        color: #4d4d4d;
        font: 20px arial;
        width: 840px;
    }

    section,
    header {
        width: 840px;
    }

    header {
        padding-top: 1.5em;
    }

    ul {
        padding: 0 1em;
    }

    a {
        border-bottom: #0039a6 solid 1px;
    }

    .print-only {
        visibility: hidden;
    }
}

body {
    margin: auto;
    background: #fcf9ff;
}

header {
    padding: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
}

ul {
    list-style-type: circle;
    padding: 1em 0;
}

hr {
    margin-top: 2em;
    border : 1px solid #ccc;
}

a {
    color: #0039a6;
    padding: 0 .2em;
    transition: all 0.4s linear;
    text-decoration: none;
}

a:hover,
a:focus {
   background: #d52b1e; 
   color: #fff;
   border: none;
}

i {
    padding: 0 .1em;
    color: #555;
}

.competences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.competences ul {
    padding: 1em 0;
}

.competences li {
    width: 11em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address {
    list-style-type: none; 
    padding: 0;
    line-height: 1.3em;
}

footer {
    height: 3em;
    line-height: 3em;
    text-align: center;
    margin-top: 5em;
}

footer p {
    color: #888;
    padding: 0;
    margin: 0;
}