<link rel=stylesheet href=vendor/font-awesome-4.7.0/css/font-awesome.min.css>
<link rel=stylesheet href=style.css>
<meta charset=utf-8>
<div class=competences>
    <ul>
        <li>Relationnel <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></li>
        <li>Écoute <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></li>
        <li>Vélocité <div><i class="fa fa-star"></i><i class="fa fa-star"></i></div></li>
    </ul>
    <ul>
        <li>Autonomie <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></li>
        <li>Présentation <div><i class="fa fa-star"></i><i class="fa fa-star"></i></div></li>
        <li>Énergie <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></li>
    </ul>
    <ul>
        <li>Expérience <div><i class="fa fa-dot-circle-o"></i></div></li>
        <li>Anglais <div><i class="fa fa-star"></i><i class="fa fa-star"></i></div></li>
        <li>Espagnol <div><i class="fa fa-star"></i></div></li>
    </ul>
</div>
<div class=competences>
    <ul>
        <li>Transport <div><i class="fa fa-car"></i><i class="fa fa-bus"></i><i class="fa fa-subway"></i></div></li>
    </ul>
    <ul>
        <li><div><i class="fa fa-graduation-cap"></i></div>Bac <em>mention bien</em></li>
    </ul>
</div>
<hr>
<h1>Je recherche un emploi</h1>
<hr>
<p>Je suis Louna, j'ai 19 ans et je viens de Montpellier, je me caractérise par mon tempérament solaire.</p> 
<p>engagée dans les projets qui me tiennent à coeur et les causes que je porte j'ai beaucoup d'énergie et d'enthousiasme lorsqu'il s'agit de les mener à accomplissement.</p>
<p>Je prend beaucoup de plaisir dans l'interaction avec l'autre et je porte en moi des valeurs fortes qui me permettent d'être intègre dans mes projets ainsi qu'avec l'autre.</p>

<hr>
<ul class=faq>
    <li class=question>Quel est ma formations ?</li>
    <li class=reponse>2017 Bac Littéraire </li><li>Fac d'anthropologie</li>
    <li class=question>Expériences professionnelles ?</li>
    <li class=reponse>
    À 18 ans, je ne peux pas prétendre avoir beaucoup d'expériences, cependant j'ai pu m'enrichir dans les domaines suivants :
    <ul>
      <li>- Co-fondatrice de - <a href=http://pleinphare.xyz>pleinphare.xyz</a></li>
      <li>- Stages en cuisine et en service dans un gîte équestre - <a href=equisud.com>equisud.com</a></li>
      <li>- Aides sur des tâches simples de comptabilité pour l'entreprise de mon père</li>
      <li>- Gardes d'enfants et ménages</li>
    </ul>
  </li>
    <li class=question>Et le numérique ?</li>
    <li class=reponse>Je maitrise bien l'outil informatique et les réseaux sociaux :
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-snapchat"></i>
      <br>
      Je pratique également le traitement de texte, les tableurs, j'ai même rapidement été initiée à l'html et aux langages de programmation.
    </li>
    <li class=question>Comment me contacter ?</li>
    <li class=reponse>Par mail, ou sur mon portable :
        <ul>
            <li class=reponse><i class="fa fa-envelope-open-o"></i>> <a href=mailto:langlois@louna.com>langlois@louna.com</a></li>
            <li class=reponse><i class="fa fa-phone"></i>> <a href=tel:+33616473377>06 16 47 33 77</a></li>
        </ul>
    </li>
</ul>
<hr>
